// Navigation Styles
@import 'variables';

.menu-bar {
  position: fixed;
  top: 82px; // Header height (50px logo + 32px padding)
  left: 0;
  right: 0;
  background-color: $color-white;
  border-bottom: 1px solid $color-border;
  z-index: $z-index-header - 1;
  padding: 12px 0;
}

.menu-container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $spacing-md 0 45px;

  @media (max-width: $breakpoint-mobile) {
    padding: 0 $mobile-padding 0 45px;
  }
}

.site-nav {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: $spacing-lg;

    @media (max-width: $breakpoint-mobile) {
      gap: $spacing-md;
    }
  }

  li {
    margin: 0;
  }

  a {
    position: relative;
    display: inline-block;
    padding: $spacing-xs 0;
    color: $color-text-primary;
    text-decoration: none;
    font-weight: 700;
    transition: color $transition-fast;

    @media (max-width: $breakpoint-mobile) {
      font-size: $font-size-small;
    }

    // Underline animation
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $color-teal;
      transition: width $transition-medium;
    }

    &:hover {
      color: $color-ocean-blue;

      &::after {
        width: 100%;
      }
    }

    &.active {
      color: $color-ocean-blue;

      &::after {
        width: 100%;
      }
    }
  }
}
