// Navigation Styles
@import 'variables';

.site-nav {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: $spacing-lg;

    @media (max-width: $breakpoint-mobile) {
      gap: $spacing-md;
    }
  }

  li {
    margin: 0;
  }

  a {
    display: inline-block;
    padding: $spacing-xs 0;
    color: $color-text-primary;
    text-decoration: none;
    font-weight: normal;

    @media (max-width: $breakpoint-mobile) {
      font-size: $font-size-small;
    }

    &:hover {
      color: $color-link;
      text-decoration: none;
    }

    &.active {
      color: $color-link;
    }
  }
}
