---
layout: default
---

<div class="home">
  <div class="home-container">
    <div class="home-main">
      {{ content }}

      <section class="home-dispatches">
        <h4>recent dispatches</h4>
        <ul>
          {% assign all_readings = site.dispatches | sort: 'date' | reverse %}
          {% for reading in all_readings limit:5 %}
            <li><a href="{{ reading.url | relative_url }}">{{ reading.title }}</a></li>
          {% endfor %}
          {% if site.dispatches.size == 0 %}
            <li>No dispatches yet.</li>
          {% endif %}
        </ul>
      </section>
    </div>
  </div>
</div>
