---
layout: default
---

<article class="reading article">
  <div class="container">
    {% include article-nav.html %}

    <header class="reading-header article-header">
      <p class="text-secondary article-date">
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%B %d, %Y" }}
        </time>
      </p>
      <h1>{{ page.title }}</h1>
    </header>

    <div class="reading-content">
      {{ content }}
    </div>

    <footer class="reading-footer article-footer">
      <a href="{{ '/dispatches/' | relative_url }}">← back</a>
    </footer>
  </div>
</article>
